@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
}
a{
    display: block;
    background-color: white;
    text-align: center;
    padding: 23px;
    font-weight: bolder;
    color: black;
    text-decoration:underline;
}
a:hover{
    background-color: rgb(223, 197, 197)
}
